## This file is a general .ucf for Nexys3 rev B board
## To use it in a project:
## - remove or comment the lines corresponding to unused pins
## - rename the used signals according to the project

## ----------------------------------------------------------------------------------
## Clock signal ---------------------------------------------------------------------
## ----------------------------------------------------------------------------------

Net "clk_100mhz_i" LOC=V10 | IOSTANDARD=LVCMOS33;
Net "clk_100mhz_i" TNM_NET = sys_clk_pin;
#TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

## ----------------------------------------------------------------------------------
## Usb-RS232 interface
## ----------------------------------------------------------------------------------

Net "rx_i" LOC = N17 | IOSTANDARD=LVCMOS33; #Bank = 1, pin name = IO_L48P_HDC_M1DQ8, Sch name = MCU-RX
Net "tx_o" LOC = N18 | IOSTANDARD=LVCMOS33; #Bank = 1, pin name = IO_L48N_M1DQ9, Sch name = MCU-TX

## ----------------------------------------------------------------------------------
## LEDs (right to left) -------------------------------------------------------------
## ----------------------------------------------------------------------------------

Net "leds_o<0>" LOC = U16 |IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L2P_CMPCLK, Sch name = LD0
Net "leds_o<1>" LOC = V16 |IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L2N_CMPMOSI, Sch name = LD1
Net "leds_o<2>" LOC = U15 |IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L5P, Sch name = LD2
Net "leds_o<3>" LOC = V15 |IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L5N, Sch name = LD3
Net "leds_o<4>" LOC = M11 |IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L15P, Sch name = LD4
Net "leds_o<5>" LOC = N11 |IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L15N, Sch name = LD5
Net "leds_o<6>" LOC = R11 |IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L16P, Sch name = LD6
Net "leds_o<7>" LOC = T11 |IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L16N_VREF, Sch name = LD7

## ----------------------------------------------------------------------------------
## 7 segment display ----------------------------------------------------------------
## ----------------------------------------------------------------------------------

Net "seg<0>" LOC = T17 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L51P_M1DQ12, Sch name = CA
Net "seg<1>" LOC = T18 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L51N_M1DQ13, Sch name = CB
Net "seg<2>" LOC = U17 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L52P_M1DQ14, Sch name = CC
Net "seg<3>" LOC = U18 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L52N_M1DQ15, Sch name = CD
Net "seg<4>" LOC = M14 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L53P, Sch name = CE
Net "seg<5>" LOC = N14 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L53N_VREF, Sch name = CF
Net "seg<6>" LOC = L14 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L61P, Sch name = CG
Net "seg<7>" LOC = M13 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L61N, Sch name = DP

Net "an<0>" LOC = N16 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L50N_M1UDQSN, Sch name = AN0
Net "an<1>" LOC = N15 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L50P_M1UDQS, Sch name = AN1
Net "an<2>" LOC = P18 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L49N_M1DQ11, Sch name = AN2
Net "an<3>" LOC = P17 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L49P_M1DQ10, Sch name = AN3

## ----------------------------------------------------------------------------------
## CellularRAM ----------------------------------------------------------------------
## ----------------------------------------------------------------------------------

#Bank = 1, pin name = IO_L46N_FOE_B_M1DQ3, Sch name = P30-OE
NET "mem_oen" IOSTANDARD = LVCMOS33;
NET "mem_oen" LOC = L18;
#Bank = 1, pin name = IO_L47P_FWE_B_M1DQ0, Sch name = P30-WE
NET "mem_wen" IOSTANDARD = LVCMOS33;
NET "mem_wen" LOC = M16;
#Bank = 1, pin name = IO_L43N_GCLK4_M1DQ5, Sch name = P30-ADV
NET "mem_adv" IOSTANDARD = LVCMOS33;
NET "mem_adv" LOC = H18;
#Net "mem_wait" LOC = V4 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L63N, Sch name = P30-WAIT
#Bank = 2, pin name = IO_L29P_GCLK3, Sch name = P30-CLK
NET "mem_clk" IOSTANDARD = LVCMOS33;
NET "mem_clk" LOC = R10;
#Bank = 1, pin name = IO_L42P_GCLK7_M1UDM, Sch name = MT-CE
NET "mem_cen" IOSTANDARD = LVCMOS33;
NET "mem_cen" LOC = L15;
#Bank = 1, pin name = IO_L47N_LDC_M1DQ1, Sch name = MT-CRE
NET "mem_cre" IOSTANDARD = LVCMOS33;
NET "mem_cre" LOC = M18;
#Bank = 1, pin name = IO_L41P_GCLK9_IRDY1_M1RASN, Sch name = MT-UB
NET "mem_ben[0]" IOSTANDARD = LVCMOS33;
NET "mem_ben[0]" DRIVE = 2;
NET "mem_ben[0]" LOC = K15;
#Bank = 1, pin name = IO_L41N_GCLK8_M1CASN, Sch name = MT-LB
NET "mem_ben[1]" IOSTANDARD = LVCMOS33;
NET "mem_ben[1]" DRIVE = 2;
NET "mem_ben[1]" LOC = K16;

#Bank = 1, pin name = IO_L45N_A0_M1LDQSN, Sch name = P30-A0
NET "mem_addr[0]" IOSTANDARD = LVCMOS33;
NET "mem_addr[0]" LOC = K18;
#Bank = 1, pin name = IO_L45P_A1_M1LDQS, Sch name = P30-A1
NET "mem_addr[1]" IOSTANDARD = LVCMOS33;
NET "mem_addr[1]" LOC = K17;
#Bank = 1, pin name = IO_L44N_A2_M1DQ7, Sch name = P30-A2
NET "mem_addr[2]" IOSTANDARD = LVCMOS33;
NET "mem_addr[2]" LOC = J18;
#Bank = 1, pin name = IO_L44P_A3_M1DQ6, Sch name = P30-A3
NET "mem_addr[3]" IOSTANDARD = LVCMOS33;
NET "mem_addr[3]" LOC = J16;
#Bank = 1, pin name = IO_L38N_A4_M1CLKN, Sch name = P30-A4
NET "mem_addr[4]" IOSTANDARD = LVCMOS33;
NET "mem_addr[4]" LOC = G18;
# Bank = 1, pin name = IO_L38P_A5_M1CLK, Sch name = P30-A5
NET "mem_addr[5]" IOSTANDARD = LVCMOS33;
NET "mem_addr[5]" LOC = G16;
#Bank = 1, pin name = IO_L37N_A6_M1A1, Sch name = P30-A6
NET "mem_addr[6]" IOSTANDARD = LVCMOS33;
NET "mem_addr[6]" LOC = H16;
#Bank = 1, pin name = IO_L37P_A7_M1A0, Sch name = P30-A7
NET "mem_addr[7]" IOSTANDARD = LVCMOS33;
NET "mem_addr[7]" LOC = H15;
#Bank = 1, pin name = IO_L36N_A8_M1BA1, Sch name = P30-A8
NET "mem_addr[8]" IOSTANDARD = LVCMOS33;
NET "mem_addr[8]" LOC = H14;
#Bank = 1, pin name = IO_L36P_A9_M1BA0, Sch name = P30-A9
NET "mem_addr[9]" IOSTANDARD = LVCMOS33;
NET "mem_addr[9]" LOC = H13;
#Bank = 1, pin name = IO_L35N_A10_M1A2, Sch name = P30-A10
NET "mem_addr[10]" IOSTANDARD = LVCMOS33;
NET "mem_addr[10]" LOC = F18;
#Bank = 1, pin name = IO_L35P_A11_M1A7, Sch name = P30-A11
NET "mem_addr[11]" IOSTANDARD = LVCMOS33;
NET "mem_addr[11]" LOC = F17;
#Bank = 1, pin name = IO_L34N_A12_M1BA2, Sch name = P30-A12
NET "mem_addr[12]" IOSTANDARD = LVCMOS33;
NET "mem_addr[12]" LOC = K13;
#Bank = 1, pin name = IO_L34P_A13_M1WE, Sch name = P30-A13
NET "mem_addr[13]" IOSTANDARD = LVCMOS33;
NET "mem_addr[13]" LOC = K12;
#Bank = 1, pin name = IO_L33N_A14_M1A4, Sch name = P30-A14
NET "mem_addr[14]" IOSTANDARD = LVCMOS33;
NET "mem_addr[14]" LOC = E18;
#Bank = 1, pin name = IO_L33P_A15_M1A10, Sch name = P30-A15
NET "mem_addr[15]" IOSTANDARD = LVCMOS33;
NET "mem_addr[15]" LOC = E16;
#Bank = 1, pin name = IO_L32N_A16_M1A9, Sch name = P30-A16
NET "mem_addr[16]" IOSTANDARD = LVCMOS33;
NET "mem_addr[16]" LOC = G13;
#Bank = 1, pin name = IO_L32P_A17_M1A8, Sch name = P30-A17
NET "mem_addr[17]" IOSTANDARD = LVCMOS33;
NET "mem_addr[17]" LOC = H12;
#Bank = 1, pin name = IO_L31N_A18_M1A12, Sch name = P30-A18
NET "mem_addr[18]" IOSTANDARD = LVCMOS33;
NET "mem_addr[18]" LOC = D18;
#Bank = 1, pin name = IO_L31P_A19_M1CKE, Sch name = P30-A19
NET "mem_addr[19]" IOSTANDARD = LVCMOS33;
NET "mem_addr[19]" LOC = D17;
#Bank = 1, pin name = IO_L30N_A20_M1A11, Sch name = P30-A20
NET "mem_addr[20]" IOSTANDARD = LVCMOS33;
NET "mem_addr[20]" LOC = G14;
#Bank = 1, pin name = IO_L30P_A21_M1RESET Sch name = P30-A21
NET "mem_addr[21]" IOSTANDARD = LVCMOS33;
NET "mem_addr[21]" LOC = F14;
#Bank = 1, pin name = IO_L29N_A22_M1A14, Sch name = P30-A22
NET "mem_addr[22]" IOSTANDARD = LVCMOS33;
NET "mem_addr[22]" LOC = C18;
#Bank = 1, pin name = IO_L29P_A23_M1A13, Sch name = P30-A23
NET "mem_addr[23]" IOSTANDARD = LVCMOS33;
NET "mem_addr[23]" LOC = C17;
#Bank = 1, pin name = IO_L1N_A24_VREF, Sch name = P30-A24
NET "mem_addr[24]" IOSTANDARD = LVCMOS33;
NET "mem_addr[24]" LOC = F16;
#Bank = 1, pin name = IO_L1P_A25, Sch name = P30-A25
NET "mem_addr[25]" IOSTANDARD = LVCMOS33;
NET "mem_addr[25]" LOC = F15;

#Bank = MISC, pin name = IO_L3P_D0_DIN_MISO_MISO1_2, Sch name = P30-DQ0
NET "mem_data_t[0]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[0]" LOC = R13;
#Bank = MISC, pin name = IO_L12P_D1_MISO2_2, Sch name = P30-DQ1
NET "mem_data_t[1]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[1]" LOC = T14;
#Bank = MISC, pin name = IO_L12N_D2_MISO3_2, Sch name = P30-DQ2
NET "mem_data_t[2]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[2]" LOC = V14;
#Bank = 2, pin name = IO_49P_D3, Sch name = P30-DQ3
NET "mem_data_t[3]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[3]" LOC = U5;
#Bank = 2, pin name = IO_49N_D4, Sch name = P30-DQ4
NET "mem_data_t[4]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[4]" LOC = V5;
#Bank = 2, pin name = IO_L62P_D5, Sch name = P30-DQ5
NET "mem_data_t[5]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[5]" LOC = R3;
#Bank = 2, pin name = IO_L62N_D6, Sch name = P30-DQ6
NET "mem_data_t[6]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[6]" LOC = T3;
#Bank = 2, pin name = IO_L48P_D7, Sch name = P30-DQ7
NET "mem_data_t[7]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[7]" LOC = R5;
#Bank = 2, pin name = IO_L64P_D8, Sch name = P30-DQ8
NET "mem_data_t[8]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[8]" LOC = N5;
#Bank = 2, pin name = IO_L64N_D9, Sch name = P30-DQ9
NET "mem_data_t[9]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[9]" LOC = P6;
#Bank = 2, pin name = IO_L13N_D10, Sch name = P30-DQ10
NET "mem_data_t[10]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[10]" LOC = P12;
#Bank = 2, pin name = IO_L14P_D11, Sch name = P30-DQ11
NET "mem_data_t[11]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[11]" LOC = U13;
#Bank = 2, pin name = IO_L14N_D12, Sch name = P30-DQ12
NET "mem_data_t[12]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[12]" LOC = V13;
#Bank = 2, pin name = IO_L30P_GCLK1_D13, Sch name = P30-DQ13
NET "mem_data_t[13]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[13]" LOC = U10;
#Bank = 2, pin name = IO_L31P_GCLK31_D14, Sch name = P30-DQ14
NET "mem_data_t[14]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[14]" LOC = R8;
#Bank = 2, pin name = IO_L31N_GCLK30_D15, Sch name = P30-DQ15
NET "mem_data_t[15]" IOSTANDARD = LVCMOS33;
NET "mem_data_t[15]" LOC = T8;

# Buttons
Net "btns" LOC = B8 | IOSTANDARD = LVCMOS33; #Bank = 0, pin name = IO_L33P, Sch name = BTNS
Net "btnu" LOC = A8 | IOSTANDARD = LVCMOS33; #Bank = 0, pin name = IO_L33N, Sch name = BTNU
Net "btnl" LOC = C4 | IOSTANDARD = LVCMOS33; #Bank = 0, pin name = IO_L1N_VREF, Sch name = BTNL
Net "btnd" LOC = C9 | IOSTANDARD = LVCMOS33; #Bank = 0, pin name = IO_L34N_GCLK18, Sch name = BTND
Net "btnr" LOC = D9 | IOSTANDARD = LVCMOS33; # Bank = 0, pin name = IO_L34P_GCLK19, Sch name = BTNR

