*~
#*
*.o
*.so
*.a
*.elf
a.out
*.vcd
bootrom.x
tools/gcc
tools/src
tools/build
tools/root
soc/muskoka/boards/de2-70/asm.chg
soc/muskoka/boards/de2-70/db/
soc/muskoka/boards/de2-70/fit.chg
soc/muskoka/boards/de2-70/incremental_db/
soc/muskoka/boards/de2-70/map.chg
soc/muskoka/boards/de2-70/muskoka.asm.rpt
soc/muskoka/boards/de2-70/muskoka.fit.rpt
soc/muskoka/boards/de2-70/muskoka.fit.summary
soc/muskoka/boards/de2-70/muskoka.flow.rpt
soc/muskoka/boards/de2-70/muskoka.jdi
soc/muskoka/boards/de2-70/muskoka.map.rpt
soc/muskoka/boards/de2-70/muskoka.map.smsg
soc/muskoka/boards/de2-70/muskoka.map.summary
soc/muskoka/boards/de2-70/muskoka.pin
soc/muskoka/boards/de2-70/muskoka.pof
soc/muskoka/boards/de2-70/muskoka.qpf
soc/muskoka/boards/de2-70/muskoka.qsf
soc/muskoka/boards/de2-70/muskoka.sof
soc/muskoka/boards/de2-70/muskoka_de2.v
soc/muskoka/boards/de2-70/smart.log
soc/muskoka/sim/a.out
soc/muskoka/sim/dump.vcd
soc/muskoka/sim/microcode.bin
soc/muskoka/sim/microcode.org
tools/build
tools/gcc
tools/root
tools/src
/soc/marin/boards/nexys3/_xmsgs
/soc/marin/boards/nexys3/clk_wiz_v3_6
/soc/marin/boards/nexys3/fifo_generator_v9_2
/soc/marin/boards/nexys3/clk_wiz_v3_6.asy
/soc/marin/boards/nexys3/clk_wiz_v3_6.gise
/soc/marin/boards/nexys3/clk_wiz_v3_6.ucf
/soc/marin/boards/nexys3/clk_wiz_v3_6.v
/soc/marin/boards/nexys3/clk_wiz_v3_6.veo
/soc/marin/boards/nexys3/clk_wiz_v3_6.xdc
/soc/marin/boards/nexys3/clk_wiz_v3_6.xise
/soc/marin/boards/nexys3/clk_wiz_v3_6_flist.txt
/soc/marin/boards/nexys3/clk_wiz_v3_6_xmdf.tcl
/soc/marin/boards/nexys3/fifo_generator_v9_2.asy
/soc/marin/boards/nexys3/fifo_generator_v9_2.gise
/soc/marin/boards/nexys3/fifo_generator_v9_2.ngc
/soc/marin/boards/nexys3/fifo_generator_v9_2.v
/soc/marin/boards/nexys3/fifo_generator_v9_2.veo
/soc/marin/boards/nexys3/fifo_generator_v9_2.xise
/soc/marin/boards/nexys3/fifo_generator_v9_2_flist.txt
/soc/marin/boards/nexys3/fifo_generator_v9_2_synth.v
/soc/marin/boards/nexys3/fifo_generator_v9_2_xmdf.tcl
/soc/marin/boards/nexys3/marin.bgn
/soc/marin/boards/nexys3/marin.bit
/soc/marin/boards/nexys3/marin.bld
/soc/marin/boards/nexys3/marin.drc
/soc/marin/boards/nexys3/marin.lso
/soc/marin/boards/nexys3/marin.ncd
/soc/marin/boards/nexys3/marin.ngc
/soc/marin/boards/nexys3/marin.ngc_xst.xrpt
/soc/marin/boards/nexys3/marin.ngd
/soc/marin/boards/nexys3/marin.pad
/soc/marin/boards/nexys3/marin.par
/soc/marin/boards/nexys3/marin.pcf
/soc/marin/boards/nexys3/marin.prj
/soc/marin/boards/nexys3/marin.ptwx
/soc/marin/boards/nexys3/marin.syr
/soc/marin/boards/nexys3/marin.unroutes
/soc/marin/boards/nexys3/marin.xpi
/soc/marin/boards/nexys3/marin_bitgen.xwbt
/soc/marin/boards/nexys3/marin_map.map
/soc/marin/boards/nexys3/marin_map.mrp
/soc/marin/boards/nexys3/marin_map.ncd
/soc/marin/boards/nexys3/marin_map.ngm
/soc/marin/boards/nexys3/marin_map.xrpt
/soc/marin/boards/nexys3/marin_ngdbuild.xrpt
/soc/marin/boards/nexys3/marin_pad.csv
/soc/marin/boards/nexys3/marin_pad.txt
/soc/marin/boards/nexys3/marin_par.xrpt
/soc/marin/boards/nexys3/marin_summary.xml
/soc/marin/boards/nexys3/marin_usage.xml
/soc/marin/boards/nexys3/netlist.lst
/soc/marin/boards/nexys3/par_usage_statistics.html
/soc/marin/boards/nexys3/ram4k16bit
/soc/marin/boards/nexys3/xst
/soc/marin/boards/nexys3/tmp
obj_dir
expected-results.lisp

