*~
#*
a.out
*.vcd
bootrom.x
tools/gcc
tools/src
tools/build
tools/root
soc/muskoka/boards/de2-70/asm.chg
soc/muskoka/boards/de2-70/bootrom.vh
soc/muskoka/boards/de2-70/bootrom.x
soc/muskoka/boards/de2-70/db/
soc/muskoka/boards/de2-70/fit.chg
soc/muskoka/boards/de2-70/incremental_db/
soc/muskoka/boards/de2-70/map.chg
soc/muskoka/boards/de2-70/microcode.bin
soc/muskoka/boards/de2-70/microcode.org
soc/muskoka/boards/de2-70/muskoka.asm.rpt
soc/muskoka/boards/de2-70/muskoka.fit.rpt
soc/muskoka/boards/de2-70/muskoka.fit.summary
soc/muskoka/boards/de2-70/muskoka.flow.rpt
soc/muskoka/boards/de2-70/muskoka.jdi
soc/muskoka/boards/de2-70/muskoka.map.rpt
soc/muskoka/boards/de2-70/muskoka.map.smsg
soc/muskoka/boards/de2-70/muskoka.map.summary
soc/muskoka/boards/de2-70/muskoka.pin
soc/muskoka/boards/de2-70/muskoka.pof
soc/muskoka/boards/de2-70/muskoka.qpf
soc/muskoka/boards/de2-70/muskoka.qsf
soc/muskoka/boards/de2-70/muskoka.sof
soc/muskoka/boards/de2-70/muskoka_de2.v
soc/muskoka/boards/de2-70/smart.log
soc/muskoka/sim/a.out
soc/muskoka/sim/bootrom.vh
soc/muskoka/sim/bootrom.x
soc/muskoka/sim/dump.vcd
soc/muskoka/sim/microcode.bin
soc/muskoka/sim/microcode.org
tools/build
tools/gcc
tools/root
tools/src
